.Tasty{
    display: flex;
    margin-left: 6rem;
    .img{
        img{
            width: 39vw;
            height: 40vw;
        }
    }
    .treat{
        width: 30vw;
       
        height: 29vw;
        margin-left: 12rem;
        h2{
            color: rgb(4, 4, 75);
            font-weight: bolder;
            span{
                color: orangered;
            }
        }
        p{
            color: rgb(158, 154, 154);
            margin-bottom: 1.5rem;
        }
        .tastyfood{
            background-color: white;
            .icon{
                color: orangered;
            }
        }
    }
}
@media(max-width:900px){
    .Tasty{
        display: inline-block;
        .img{
            img{
                width: 55vw;
                height: 50vw;
            }
        }
        .treat{
            margin-left: -1rem;
            width: 70vw;
        }
    }

}
@media(min-width:900px) and (max-width:1300px){
    .Tasty{
        margin-left: 1rem;
        margin-bottom: 21rem;
        .treat{
            margin-left: 2rem;
            width: 50vw;
        }
    }

}