.Delivers{
    display: flex;
    justify-content: center;
    margin-top: 7rem;
    margin-bottom: 6rem;

    div{
        // background-color: aliceblue;
        width: 20vw;
        
        margin-left: 7rem;
        
        img{
            width: 5vw;
            height: 5vw;
            margin-left: 6.3vw;
        }
        h2{
           text-align: center;
            
        }
        p{
            text-align: center;
            color: rgb(161, 158, 158);
        }
    }
}

@media (max-width:400px) {
    .Delivers{
        display: inline-block;
        div{
            width: 44vw;
            margin-left: 6rem;
            
            img{
                width: 12vw;
                height: 12vw;
                margin-left: 3rem;
            }
        }
    }
    
    
}
@media (min-width:400px)and (max-width:700px){
    .Delivers{
        display: inline-block;
        div{
            width: 40vw;
            margin-left: 7rem;
            img{
                width: 12vw;
                height: 12vw;
                margin-left: 4rem;
            }
        }
    }

}
@media (min-width:700px)and (max-width:900px) {
    .Delivers{
        // display: flex;
        
       
        div{
            width: 26vw;
            margin-left: 2rem;
           
        
       
            img{
                width: 12vw;
                height: 12vw;
                margin-left: 4rem;
            }
        }
    }
    
    
}