.hero{
    margin-left: 6.4rem;
    margin-top: 5rem;
    display: flex;
    h1{
        color: rgb(211, 76, 38);
        font-weight: bolder;
        margin-top: .5rem;
        span{
            color: rgb(16, 16, 83);
        }
    }
    p{
        color: rgb(136, 132, 132);
        margin-top: 1rem;
    }
    .btns{
        .orderNow{
            background-color: rgb(211, 76, 38);
            border: none;
            border-radius: 5px;
            color: white;
            padding: 5px 13px;
            margin-right: 1.5rem;
            margin-top: 1rem;
            &:hover{
                background-color: rgb(16, 16, 83);
            }
        }
        .allfood{
            border-color: rgb(211, 76, 38);
            border-radius: 5px;
            padding: 5px 13px;
            background-color: white;
            color:  rgb(211, 76, 38);;
        }

    }
    .icons{
        display: flex;
        margin-top: 2.5rem;
        .car{
            background-color: rgb(211, 76, 38);
            color: white;
            border-radius: 50%;
            width:max-content;
            padding:  .1rem;
            
           
          
        }
        .check{
            background-color: rgb(211, 76, 38);
            color: white;
            border-radius: 50%;
            width:max-content;
            padding:  .1rem;
            margin-left: 3rem;
        }
    }
    img{
        width: 40vw;
        height: 40vw;
        margin-top: -4rem;
    }
}
@media (max-width:700px) {
    .hero{
        margin-left: 2rem;
        display: inline-block;
        .texthero{
            margin-top: 19rem;
        }
        img{
            margin-top: -69rem;
            margin-left: 3rem;
            width: 60vw;
            height: 60vw;
        }
    }
    
    
}